<div class="added-hotels">
    <a href="/hotels/details/{{_id}}" class="added-hotel">
        <img src="{{imageUrl}}" alt="" class="picture-added-hotel">
        <h3>{{hotel}}</h3>
        <span>Free rooms: {{freeRooms}}</span>
    </a>
</div>