
{{#if isLoggedIn}}

<div id="container">
<section id="viewCatalog" class="background-img">

    {{#each hotels}}
        {{>hotel}}
    {{else}}
    <div class="guest">
                There are no Hotels found...
            </div>
    {{/each}}
    
    </section>


</div>

{{else}}


<div id="container">
<section id="viewCatalog" class="background-img">

    </section>


</div>

{{/if}}